*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #131518;
    display: flex;
    justify-content: center;
}

.App {
  text-align: center;
  width: 412px;
  height: 416px;
  background: linear-gradient(225deg, #181E27 100%, #232A34 100%);
  border-radius: 30px;


}
